body {
font-family: 'Rajdhani', sans-serif;
	overflow-y: hidden;
}
														/*Nav*/
.navbar-default {
	background-color: #2c3e50;
	border-color: #2c3e50;
}
.navbar {
	border-radius: 0;
	margin: 0;
	
	width: 100%;
	z-index: 999;
}
.nav > li > a {
	color: red;
    margin-left: 30px;
}
@media (max-width:900px) {.nav > li > a {
        margin-left:5px;
	}
}
.navbar-default .navbar-nav > li > a {
	color: #bfbfbf;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background-color: transparent;
	color: #fddc58;
}
.navbar-default .navbar-nav > li > a:hover{
	color: #fddc58;
}
.navbar-default .navbar-nav > li > a:focus  {
	color: #bfbfbf;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-right: 20px;
}
.navbar-default .navbar-brand {
	color: #5bd5fc;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
		margin-left: 10px;

}
.navbar-default .navbar-brand span {
	color: #fff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #5bd5fc;
}
@media (max-width:400px) {.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
	font-size: 12px;
	margin-left: 0;
	}
}
.navbar-toggle 
{
	margin-right: 0;
}
.blog {
	width: 100%;
	height: 100vh;
	background: #113650;
	margin: auto;
}
iframe {
	width: 100%;
	height: 100%;
}